.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0C2340;
    justify-content: center;
    align-items: center;
}

.container > div {
    margin: 10px;
    width: 150px;
    height: 100px;
    background-color: #f1f1f1;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: inherit;
    text-align: center;
}